
/*全局设置*/
a {
    color:#333333;
}
a:link,a:visited {
    text-decoration:none;
}
    a:hover,a:active {
        color:#468847
    }
.glyphicon {
color:#cccccc;
}
.text-gray {
    color:#cccccc;
}
/*头部设置*/
#header {
    height:80px;
    padding-left:30px;
    padding-right:65px;
    background-color:#ffffff;
}
.logo {

    font-size:25px;
    line-height:80px;
}
.regbtn {
    line-height:80px;
}

/*注册页面样式*/
.reg_jumbotron {
    height:450px;
    background-image:url(/src/images/bg_banner.png);
    background-color:#ff0000;
}
.loginform {
    margin:50px 100px 0 0;
    height:350px;
    width:450px;
    padding:30px 30px 10px 30px;
    background-color:#ffffff;
    border-radius:10px 10px;
}

.gonggao {
    margin:35px 0;
    border:1px solid #cccccc;
    padding:10px 20px;
}
.shouyi h3 {
    margin-bottom:35px;
}
.shouyicontent {
    border:1px solid #cccccc;
    text-align:center;
    height:300px;
    padding-top:60px;
    color:#888888;

}
.shouyicontentover {
     border:3px solid #cccccc;
     box-shadow: 10px 10px 5px #cccccc;
}
    .shouyicontent span {

        font-size:50px;
    }
    .shouyicontent h4 {
        color:#333333;
    }

.reg_footer {
    padding:40px  0px 20px 0px;
    color:#808080;
}

/*首页样式*/
.main {
    width:100%;
    background-color:#f7f8fa;
    color:#333333;
    padding-right:20px;
}
.menulist {
    background-color:#f7f8fa;
    margin-top:10px;
    margin-left:0px;
    padding:10px 10px 10px 0px;

}
    .menulist h4 {
         line-height:30px;
         padding-left:30px;
    }
    .menulist ul {
        margin:0px;
        padding:0px;
    }
    .menulist ul li {
        list-style:none;
        font-size:14px;
        line-height:40px;
        padding-left:55px;
    }

.content {
     background-color:#f7f8fa;
 
}

.content h3{
     color:#333333;
} 
.content_main {
    background-color:#ffffff;
    border-color:#ffffff;
    border-radius:3px 3px;
    border:1px solid #ffffff;
    margin:20px 0px 20px 0; 
    padding:20px 20px 20px 20px;
}
.footer {
    clear:both;
    background-color:#f7f8fa;
    color:#333333;
}
.footer_content {
    padding-top:20px;
    padding-bottom:20px;
    color:#646161;
}
.zhqingkuang ul {
        height:120px;
}
.zhqingkuang ul li{
    float:left;
    width:30%;

    line-height:50px;
    text-align:center;
    list-style:none;
}
    .zhqingkuang ul li p {
        font-size:50px;
    }




.zhhudong {
    margin-top:20px;
    padding:5px 10px;
    border:1px solid #cccccc;
    overflow:hidden;
}
    .zhhudong h5 {
        font-weight:600;
         color:#666666;
    }
    .zhhudong div {
        color:#999999;
    }

/*列表页面设置*/
.tablist {
    background-color:#ffffff;
    margin-top:40px;
}

.Setting {
    margin-top:40px;
    background-color:#ffffff;
    padding-bottom:40px;
}
.xcxset {
    margin-bottom:40px;
    padding:0px 20px;
    clear:both;
}

.xcxset ul{
    margin-top:40px;
    padding:0px;
}

.xcxset ul li {
    list-style:none;
    margin:0px;
    padding:0px;
        height:40px;
    line-height:40px;

}
.scxtitle {

    color:#808080;
    line-height:60px;    
}
.scxcontent {
    line-height:60px;
    padding-left:10px;
    border-bottom:1px solid #cccccc;
    overflow:hidden;
}



.tabcontent {
    margin-top:40px;
    background-color:#ffffff;

}
.safecontent {
    margin-top:20px;
    font-size:16px;
    border-bottom:1px solid #cccccc;
}
    .safecontent p {
        font-size:14px;
        color:#808080;
        line-height:30px;
    }

.avatar {
    text-align:center;
    padding:20px 0px;
}

.gonggaoPage {
    background-color:#ffffff;
    margin-top:50px;
    padding:20px 100px 100px 100px;
    min-height:500px;
}
    



.gonggaoPage h4 {
    line-height:100px;
}
.gonggaoPage .box-footer {
    padding-top:60px;
}

.gonggaoListPage {
    background-color:#ffffff;
    margin-top:25px;
    padding:20px;
    min-height:500px;
}

.gonggaoListul {
     border-left:1px solid #cccccc;
     border-right:1px solid #cccccc;
     border-top:1px solid #cccccc;
    padding:0px;
        list-style:none;
        margin:0px 20px;
    }
 .gonggaoitem {
            line-height:45px;
            border-bottom:1px solid #cccccc;
            padding:0px 20px;

        }
    .gonggaoitem a {
        display:block;
    }
.gonggaoList {
    height:auto;
    min-height:550px;
}

.a2color {
    color:#646161;
}

.pageTitle {
    margin-bottom:30px;
}

.SettingInput {
    border:0px;
    height:40px;
    line-height:40px;
    width:100%;
    border-bottom:1px solid #eeeeee;

}

.textareacontent {
    background-color:#ffffff;
    border:0px;
    border-bottom:1px solid #eeeeee;
    margin-bottom:10px;

}
.Settinglable {
    height:35px;
    line-height:35px;
}

.bg-setcolor {
    background-color:#f7f8fa;
}

.text-red {
  color: #dd4b39 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #111111 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-gray {
  color: #d2d6de !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #605ca8 !important;
}
.text-maroon {
  color: #d81b60 !important;
}