@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Src/css/web.css" />
    <title>平台首页</title>
</head>
<body>
    <div class="container">
        <div class="logo pull-left">心理咨询师公众宣传平台</div>
        <div class="regbtn pull-right"><a href="###"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 立即注册</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="###"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> 简体中文</a></div>
    </div>
    <div class="main">
        <div class="container">
            <div class="menulist pull-left">
                <h4><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</h4>
                <hr>
                <h4><span class="glyphicon glyphicon-th" aria-hidden="true"></span> 功能</h4>
                <ul>
                    <li>素材文章</li>
                    <li>量表定制</li>
                    <li>自由书写</li>
                    <li>音频课程</li>
                    <li>视频课程</li>
                </ul>
                <hr>
                <h4><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 素材</h4>
                <ul>
                    <li>案例素材</li>
                    <li>讲课素材</li>
                </ul>
                <hr>
                <h4><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 收益 </h4>
                <ul>
                    <li>广告收益</li>
                    <li>客户收益</li>
                    <li>财富收益</li>
                </ul>
                <hr>
                <h4><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 数据统计</h4>
                <ul>
                    <li>客户统计</li>
                    <li>咨询统计</li>
                    <li>推广统计</li>
                </ul>
                <hr>
                <h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 个人设置</h4>
                <ul>
                    <li>小程序设置</li>
                    <li>安全设置</li>
                    <li>违规记录</li>
                </ul>
            </div>
            <div class="content pull-right">
                <div class="content_main">内容一</div>
                <div class="content_main">
                    <h4>账号整体情况</h4>
                    <ul>
                        <li>
                            <span>文章数量</span>
                        </li>
                        <li>
                            <span>客户数量</span>
                        </li>
                        <li>
                            <span>留言咨询</span>
                        </li>
                    </ul>
                </div>
                <div class="content_main">
                    <h4>账号整体情况<span class="pull-right"><button class="btn btn-success">新建群发</button></span></h4>
                    <ul>
                        <li>
                            <span>文章数量</span>
                        </li>
                        <li>
                            <span>客户数量</span>
                        </li>
                        <li>
                            <span>留言咨询</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container footer_content">
            关于我们 | 服务协议 | 联系客服
            <hr style="margin:5px 0;padding:0;">
            Copyright © 2012-2018 版权所有. All Rights Reserved.
        </div>
        
    </div>
</body>
</html>
