<div class="content">

    <h3>互动引导设置 <small>优秀的互动引导能与来访者迅速拉近距离，让他愿意和你交流。</small></h3>
    <div class="row tablist">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab"><h5>广告设置</h5></a></li>
                    <li><a href="#tab_2" data-toggle="tab"><h5>自由书写设置</h5></a></li>
                    <li><a href="#tab_3" data-toggle="tab"><h5>问题引导设置</h5></a></li>
                    <li><a href="#tab_4" data-toggle="tab"><h5>用户咨询设置</h5></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="">广告</label>
                                    <textarea class="form-control" rows="5" placeholder="enter" name="" id=""></textarea>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">
                                <span>
                                    <button type="submit" class="btn btn-success pull-right">保存并发布</button>
                                </span>

                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="">自由书写引导语设置</label>
                                    <textarea class="form-control" rows="5" placeholder="enter" name="" id=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">自由书写后引导设置</label>
                                    <textarea class="form-control" rows="5" placeholder="enter" name="" id=""></textarea>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">
                                <span>
                                    <button type="submit" class="btn btn-success pull-right">保存并发布</button>
                                </span>
                                
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="">问题引导语设置</label>
                                    <textarea class="form-control" rows="5" placeholder="enter" name="" id=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">问题后引导设置</label>
                                    <textarea class="form-control" rows="5" placeholder="enter" name="" id=""></textarea>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">
                                <span>
                                    <button type="submit" class="btn btn-success pull-right">保存并发布</button>
                                </span>

                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_4">
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="">用户咨询引导语设置</label>
                                    <textarea class="form-control" rows="5" placeholder="enter" name="" id=""></textarea>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">
                                <span>
                                    <button type="submit" class="btn btn-success pull-right">保存并发布</button>
                                </span>

                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
</div>