<div class="content pull-right">

    <h3>互动内容 <small>让好文章插上你的广告，为你打工，用专家的课程，打造自己的影响力，自己没实力打造高清视频课程，借力借势免费使用权威的高清视频</small></h3>
    <div class="row tablist">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab"><h5>自由书写回复</h5></a></li>
                    <li><a href="#tab_2" data-toggle="tab"><h5>自由书写引导语设置</h5></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    
                                    <!-- /.box-header -->
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>序号</th>
                                                <th>用户</th>
                                                <th>时间</th>
                                                <th>标签</th>
                                                <th>题目</th>
                                                <th>回复</th>
                                            </tr>
                                            <tr>
                                                <td>183</td>
                                                <td>John Doe</td>
                                                <td>11-7-2014</td>
                                                <td><span class="label label-success">Approved</span></td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                <td><button class="btn btn-danger">回复</button></td>
                                            </tr>
                                            <tr>
                                                <td>219</td>
                                                <td>Alexander Pierce</td>
                                                <td>11-7-2014</td>
                                                <td><span class="label label-warning">Pending</span></td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                <td><button class="btn btn-danger">取消选择</button></td>
                                            </tr>
                                            <tr>
                                                <td>657</td>
                                                <td>Bob Doe</td>
                                                <td>11-7-2014</td>
                                                <td><span class="label label-primary">Approved</span></td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                <td><button class="btn btn-danger">取消选择</button></td>
                                            </tr>
                                            <tr>
                                                <td>175</td>
                                                <td>Mike Doe</td>
                                                <td>11-7-2014</td>
                                                <td><span class="label label-danger">Denied</span></td>
                                                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                <td><button class="btn btn-danger">取消选择</button></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer clearfix">
                                        <ul class="pagination pagination-sm no-margin pull-right">
                                            <li><a href="#">&laquo;</a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.box-footer -->
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="row">
                            <div class="col-xs-12">
                                <form>
                                    <div class="box">

                                        <!-- /.box-header -->
                                        <div class="box-body table-responsive no-padding">
                                            
                                            <input class="form-control" placeholder="联系方式为选填" />

                                            <textarea class="form-control" rows="6" placeholder="书写前设置，如果你愿意和我分享你的故事，请在"></textarea>

                                            <textarea class="form-control" rows="6" placeholder="书写后设置，亲爱的，只有我能看到你的自由书写，能看出你的心情，你愿意和我交流一下吗？你可以加我的微信。"></textarea>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="box-footer clearfix">
                                           
                                                <button class="btn btn-primary pull-right">保存并发布</button> 
                                          
                                        </div>
                                        <!-- /.box-footer -->
                                    </div>
                                </form>
                                <!-- /.box -->
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
</div>