<div class="content">

    <h3>安全设置</h3>
    <div class="row tabcontent">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="container xcxset">
               
                <ul>

                    <li>
                        <div class="safecontent">
                            <span>绑定手机</span>
                            <p>
                                请绑定你的常用手机，用于找回密码
                                <span class="pull-right">详情</span>
                            </p>
                        </div>
                       
                    </li>

                    <li>
                        <div class="safecontent">
                            <span>绑定邮箱</span>
                            <p>
                                请绑定你的常用邮箱，用于接收系统服务提醒
                                <span class="pull-right">详情</span>
                            </p>
                        </div>

                    </li>

                    <li>
                        <div class="safecontent">
                            <span>修改密码</span>
                            <p>
                                输入原始密码后，修改你的密码
                                <span class="pull-right">详情</span>
                            </p>
                        </div>

                    </li>

                 
                </ul>
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
</div>