<div class="content">

    <h3>小程序设置 <small>此内容将公开显示在您的推广小程序中，让来访者找到你，了解你！</small>
    <span class="pull-right">
        <small>价值说明</small></span>
    </h3>
    <div class="row tablist">
        <div class="col-md-12">             
              <div class="container xcxset">
                        
                        <ul>

                            <li>
                                <span class="scxtitle pull-left">
                                    姓名
                                </span>
                                <div class="scxcontent pull-left">
                                    <span class="pull-left">赵征</span>
                                    <span class="pull-right">修改</span>

                                </div>
                            </li>

                            <li>
                                <span class="scxtitle pull-left">
                                    昵称
                                </span>
                                <div class="scxcontent pull-left">
                                    <span class="pull-left">赵征</span>
                                    <span class="pull-right">修改</span>

                                </div>
                            </li>

                            <li>
                                <span class="scxtitle pull-left">
                                    手机号
                                </span>
                                <div class="scxcontent pull-left">
                                    <span class="pull-left">1562523653</span>
                                    <span class="pull-right">修改</span>

                                </div>
                            </li>

                            <li>
                                <span class="scxtitle pull-left">
                                    微信号
                                </span>
                                <div class="scxcontent pull-left">
                                    <span class="pull-left">key20100</span>
                                    <span class="pull-right">修改</span>

                                </div>
                            </li>

                            <li>
                                <span class="scxtitle pull-left">
                                    QQ号
                                </span>
                                <div class="scxcontent pull-left">
                                    <span class="pull-left">565656566656</span>
                                    <span class="pull-right">修改</span>

                                </div>
                            </li>

                            <li>
                                <span class="scxtitle pull-left">
                                    自我介绍
                                </span>
                                <div class="scxcontent pull-left">
                                    <span class="pull-left">会写代码的心理咨询师</span>
                                    <span class="pull-right">修改</span>

                                </div>
                            </li>

                            <li>
                                <span class="scxtitle pull-left">
                                    认证介绍
                                </span>
                                <div class="scxcontent pull-left">
                                    <span class="pull-left">国家二级心理咨询师</span>
                                    <span class="pull-right">修改</span>

                                </div>
                            </li>

                        </ul>

                  <ul>
                      <li>
                          <div class="row">
                              <div class="col-xs-1">认证介绍</div>
                              <div class="col-xs-11">
                                  国家二级心理咨询师  <span class="pull-right">修改</span>
                              </div>
                          </div>
                      </li>
                  </ul>
                    </div>
        </div>
        <!-- /.col -->
    </div>
</div>