<div class="content">

    <h3>小程序设置 <small>此内容将公开显示在您的推广小程序中，让来访者找到你，了解你！</small>
    <span class="pull-right">
        <small>价值说明</small></span>
    </h3>
    <div class="row"> 
        <div class="container col-md-12 Setting">
            <div class="col-md-12 avatar">
                <img src="~/Resource/img/avatar.jpg" class="img-circle">
                <h5>点击修改头像</h5>
            </div>
            <div class="xcxset">

                <ul>

                    <li>
                        <div class="scxtitle col-md-1">
                            姓名
                        </div>
                        <div class="scxcontent col-md-11">
                            <span class="pull-left">赵征</span>
                            <span class="pull-right">修改</span>

                        </div>
                    </li>

                    <li>
                        <div class="scxtitle col-md-1">
                            昵称
                        </div>
                        <div class="scxcontent col-md-11">
                            <span class="pull-left">赵征</span>
                            <span class="pull-right">修改</span>

                        </div>
                    </li>

                    <li>
                        <div class="scxtitle col-md-1">
                            手机号
                        </div>
                        <div class="scxcontent col-md-11">
                            <span class="pull-left">1562523653</span>
                            <span class="pull-right">修改</span>

                        </div>
                    </li>

                    <li>
                        <div class="scxtitle col-md-1">
                            微信号
                        </div>
                        <div class="scxcontent col-md-11">
                            <span class="pull-left">key20100</span>
                            <span class="pull-right">修改</span>

                        </div>
                    </li>

                    <li>
                        <div class="scxtitle col-md-1">
                            QQ号
                        </div>
                        <div class="scxcontent col-md-11">
                            <span class="pull-left">565656566656</span>
                            <span class="pull-right">修改</span>

                        </div>
                    </li>

                    <li>
                        <div class="scxtitle col-md-1">
                            自我介绍
                        </div>
                        <div class="scxcontent col-md-11">
                            <span class="pull-left">会写代码的心理咨询师</span>
                            <span class="pull-right">修改</span>

                        </div>
                    </li>

                    <li>
                        <div class="scxtitle col-md-1">
                            认证介绍
                        </div>
                        <div class="scxcontent col-md-11">
                            <span class="pull-left">国家二级心理咨询师</span>
                            <span class="pull-right">修改</span>

                        </div>
                    </li>

                </ul>


            </div>
        </div>
        <!-- /.col -->
    </div>
</div>