<div class="content">

    <h3>注册信息
    </h3>
    <div class="row tablist">
        <div class="col-md-12">

            <div class="container xcxset">
             
                <ul>
                    <li>
                        <span class="scxtitle pull-left">
                            注册邮箱
                        </span>
                        <div class="scxcontent pull-left">
                            <span class="pull-left">jorzen2010@163.com</span>
                            <span class="pull-right">修改</span>

                        </div>
                    </li>

                    <li>
                        <span class="scxtitle pull-left">
                            注册时间
                        </span>
                        <div class="scxcontent pull-left">
                            <span class="pull-left">jorzen2010@163.com</span>
                        </div>
                    </li>

                    <li>
                        <span class="scxtitle pull-left">
                            注册主体
                        </span>
                        <div class="scxcontent pull-left">
                            <span class="pull-left">赵征（个人）</span>
                        </div>
                    </li>

                    <li>
                        <span class="scxtitle pull-left">
                            原始ID
                        </span>
                        <div class="scxcontent pull-left">
                            <span class="pull-left">赵征</span>
                            <span class="pull-right">注销账号</span>

                        </div>
                    </li>



                </ul>
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
</div>