@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Tilte = "案例图片素材";
}
@section Topcss {
<link href="~/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<link href="~/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet">

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Tilte

        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            新增 @ViewBag.Tilte
                        </h3>

                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm("Create", "Anli", FormMethod.Post, new { @class = "form-horizontal", @name = "CreateAnli", @id = "CreateAnli" }))
                    {
                        <div class="box-body">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="control-label col-sm-2">上传图片</label>
                                    <div class="col-sm-8">
                                        <input type="file" name="txt_file" id="txt_file" multiple class="file-loading" />
                                </div>
                                    </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2">图片地址</label>
                                    <div class="col-sm-8">
                                      
                                        <input type="text" class="form-control" id="ceshi" readonly="readonly" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-sm-2">图片标题</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2">标签</label>
                                    <div class="col-sm-8">
                                        <input type="text" data-role="tagsinput"  id="tags" />
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label class="control-label col-sm-2">应用场景</label>
                                    <div class="col-sm-8">
                                        <textarea name="zhaiyao" rows="5" class="form-control" placeholder="请详细填写此图片表达的应用场景"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2">作者</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="选填：默认来源于网络" />
                                    </div>
                                </div>

                                
                             
                                


                            
                            
                            </div>


                        </div>
                    }
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <button class="btn btn-default" id="xxx">取消</button>
                        <button class="btn btn-primary pull-right">保存并发布</button>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>


@section BottomScripts {
    <script type="text/javascript" src="~/plugins/bootbox.min.js"></script>

<script type="text/javascript" src="~/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script type="text/javascript" src="~/plugins/bootstrap-fileinput/js/locales/zh.js"></script>
<script type="text/javascript" src="~/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>

    <script type="text/javascript" src="~/Resource/js/SkyWeb.js"></script>



    <script type="text/javascript">

        $("#xxx").on("click", function () {

            alert($("#tags").val());
        });

        $("#txt_file").fileinput({

            language: 'zh', //设置语言

            uploadUrl: "/file/upload?rootpath=PsyCoderFile&folder=images", //上传的地址

            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀

            //uploadExtraData:{"id": 1, "fileName":'123.mp3'},

            uploadAsync: true, //默认异步上传

            showUpload: true, //是否显示上传按钮

            showRemove: true, //显示移除按钮

            showPreview: true, //是否显示预览

            showCaption: false,//是否显示标题

            browseClass: "btn btn-primary", //按钮样式    

            dropZoneEnabled: true,//是否显示拖拽区域

            //minImageWidth: 50, //图片的最小宽度

            //minImageHeight: 50,//图片的最小高度

            //maxImageWidth: 1000,//图片的最大宽度

            //maxImageHeight: 1000,//图片的最大高度

            //maxFileSize:0,//单位为kb，如果为0表示不限制文件大小

            //minFileCount: 0,

            maxFileCount: 1, //表示允许同时上传的最大文件个数

            enctype: 'multipart/form-data',

            validateInitialCount: true,

            previewFileIcon: "<iclass='glyphicon glyphicon-king'></i>",

            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on("fileuploaded", function (event, data, previewId, index) {

            alertconfirm("图片上传成功。图片地址为："+data.response.MessageUrl);
            $('#ceshi').val(data.response.MessageUrl);
        });

    </script>
}